#lyricContainer {
  position  : relative;
  left      : 40px;
  top       : 10px;
  width     : 240px;
  height    : 400px;
  overflow  : auto;
  z-index   : 1;  
}

#ad-click-area {
	width: 300px !important;
}